:root {
    --bg-color: #c6b294;
    --main-color: #405a52;
    --text-color: #57390c;
}
*{
  box-sizing: border-box;
}
html,
body{
  overflow: hidden;
  font-family: "Roboto Mono", "Vazirharf", monospace;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.updates{
  height: 4%;
  width: 100%;
  background-color: var(--main-color);
  color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  word-spacing: 8px;
}

.app{
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
  width: 80%;  
  margin-top: 16px;
}
.brand{
  display: flex;
  gap: 2px;
  color: #0a251d;
  font-family: system-ui;
  font-size: 18px;
  margin-left: 10px;
}
.brand-text{
  display: flex;
  flex-direction: column;
}
.brand-text h1{
  font-size: 2rem;
  margin: 4px 0 0 0;
}
.brand-text span{
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-top: 2px;
  color: rgba(81, 53, 11, 0.65);
  text-transform: uppercase;
}

.logo{
  height: 56px;
  width: 56px;
  transform: translateY(10px);
}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 56%;
  gap: 2%;
  margin-right: 20px; 
}

.icon{
  font-size: large;
  transition: transform 0.2s ease, color 0.2s ease;
}
.mainIcon:hover{
  transform : scale(1.2);
  color: black;
}
.subIcon:hover{
  color: black;
}

.timers > button{
  border: none;
  background: none;
  color: #57390c;
}
.timers > button:focus-visible {
  outline: none;
}



/*  -----personalization settings -----  */

.personalize{
  height: 8%;
  width: 80%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.timers, .restartTest{  
  height: 3rem;
  border-radius: 8px;
  background-color: #b4a389;
}
.timers{
  width: 16%;
  display: flex;
  padding: 4px;
  justify-content: space-around;
  align-items: center;
}
.restartTest{
  width: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*  -----stats bar-----  */

.statsBar{
  background-color: #b4a389;
  border-radius: 16px;
  height: 200px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 16px;
}

.statsBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statsBox span{
  font-size: 3rem;
  color: var(--main-color);
}
.statsBox p{
  padding: 0;
  margin: 0;
  font-size: 1.05rem;
  letter-spacing: 1px;
}

.timeUnit{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.timeUnit > .unitOfTime{
  font-size: 2.5rem;
  
}

.activeTimer{
  color : var(--main-color);
}

.textDisplay{
  padding: 0;
  font-size: 1.9rem;
  line-height: 48px;  
  white-space: pre-wrap;
  font-family: "Roboto Mono", "Vazirharf", monospace;
  transition: transform .25s ease;
}
.char{
  position: relative;
  display: inline-block;
}
.char.active::after{
  content: "";
  position: absolute;
  left:0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: black;
  animation: blink 2s infinite;
}
@keyframes blink{
  50%{
    opacity: 0.2;
  }
}

.targetTextContainer{
  margin: 8px;
  height: 150px;
  width: 80%;
  padding: 8px;
  position: relative;
  overflow: hidden;
}


/* toggle switches */
.switch{
  position: relative;
  display: inline-block;
  height: 24px;
  width: 40px;
}
.switch input{
  opacity: 0;
  height: 0;
  width: 0;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .4s;
  background-color: var(--main-color);
}
.slider::before{
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  transition: .4s;
  background-color: rgb(211, 246, 251);
}
input:checked + .slider{
  background-color: rgb(24, 134, 24);
}
input:focus + .slider{
  box-shadow: 0 0 1px rgb(16, 238, 16);
}
.slider.round{
  border-radius: 16px;
}
.slider.round::before{
  border-radius: 50%;
}
input:checked + .slider::before{
  transform: translateX(16px);
}


